body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form{
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.05)
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}
input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}
input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover{
    background-color: #0056b3;
}